#console {
	min-height: 400px;
	width: 100%;
	border: #000 solid 5px;
	background: #000;
	margin: 25px 0px;
}

#question {
    margin: 25px 0px 100px 0px;
}

.terminal {
	font-family: "DejaVu Sans Mono", "Liberation Mono", "Consolas", monospace !important;
	color: #f0f0f0 !important;
}

.terminal-cursor {
	background-color: #ccc !important;
}
